.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
}

.signup-box {
    background-color: #FFFFFF;
    padding: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    font-family: sans-serif;
    width: 55%;

    & h2 {
        font-size: 27px;
    }

    & .signupboxp {
        font-size: 14px;
        color: #301A22;
    }
}

.signupwrap {
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 23px;
}

.signupmain {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    gap: 10px;
}

.signuplabel {
    width: 100%;
    display: flex;
    align-items: baseline;
    font-size: 16px;

}


.signup-input {
    width: 100%;
    padding: 10px;
    height: 55px;

}


.signup-btn {
    width: 92%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    /* margin: 10px; */
    margin-top: 10%;
}

.signupbtnspan {
    width: 250px;
    display: flex;
    gap: 10px;
    height: 60px;
    align-items: center;
    /* background-color: blue; */

    & p {
        color: #FF2020;
    }
}

.signupInputError {
    font-size: 14px;
    color: #FF2020;
}

.signup-button {
    width: 22%;
    padding: 10px;
    height: 70px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    /* height: 100%; */
}